/* host tragting element inside the component's templates
       The host element is in parent component's template
     */
     /* movie styling */
      /* .movie.Feature {
        border-left: 6px solid green;
        border-radius: 12px;
      } */

      h4 {
        display: flex;
        align-items:center;
        justify-content: space-between;
        font-weight: bold;
      }
      .justify {
        position: absolute;
        bottom: 60px;
      }
      p {
        font-size: 1.2rem;
         
      }
      img {
        float:right;
        width: 150px;
      }

      /* bookmark styling */

      .bookmark_icon{
         font-size: 2rem;
         color: rgb(83, 83, 83);
         position: absolute;
      }
      .bookmark_icon:hover {
        color: #ff3d71;
      }
      .Feature {
        color:#ff3d71 !important;
      }