.colored-column-basic {
    background-color: #00b887;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 8px;
    width: 100px;
}

.colored-column-basic:hover {
    background-color: #2ce69b;
}
.colored-column-basic:focus {
    background-color: #00997a;
}